@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
.main {
  background-color: rgb(216, 212, 212);
  height: 100vh;
  width: 100%;
  position: relative;
}
.card {
  width: 300px;
}
.child {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#i1 {
  border: 0px;
  outline: none;
  font-weight: 200;
  color: black;
}
.child2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 445px;
  right: 8px;
  left: 370px;
  top: 0px;
}

.child3 {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 390px;
  top: 290px;
  bottom: 220px;
}
.child4 {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 390px;
  top: 510px;
  bottom: 10px;
}
.text_align {
  position: absolute;
  left: 390px;
  top: 325px;
}

@media(max-width:700px){
  body{
    overflow-x: hidden;
  }
  #row1{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  #row2{
   margin-left: 1rem;
   margin-right: 1rem;
  }
  #row3{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main {
    background-color: rgb(216, 212, 212);
    height: auto;
    width: 100%;
   
  }
  .child {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  .child2 {
    display: block;
    
   
  }
  .card{
    width: 100%;
  }
  .child3 {
    display: block;
    flex-direction: column;
 
  }
  .child4 {
    display: block;
    flex-direction: column;
    
  }
  .align1{
    display: block;
  }
}